<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python Belt Exam</title>
</head>
<body>
    <h1>Welcome, {{user.first_name}}!</h1>
    <br>
    <a href="/logout">Logout</a>
    <br>
    <br>

    <h2>Quotable Quotes</h2>
    {% for quote in quotes %}
    
    <p>{{quote.name}}: {{quote.content}}</p>
    <p>Posted By: <a href="/userpage/{{quote.user.id}}">{{quote.user.first_name}}     <a href="/favorite/{{quote.id}}">Add to My List</a></p>
    
    {% endfor %}

    <h2>Your Favorites</h2>
    {% for userquote in userquotes%}
    <p>{{userquote.quote.name}}: {{userquote.quote.content}}</p>
    <p>Posted By: <a href="/userpage/{{userquote.quote.user.id}}">{{userquote.quote.user.first_name}}     <a href="/remove/{{userquote.quote.id}}">Remove from My List</a></p>
    {% endfor %}
    

    <h2>Contribute a Quote:</h2>
    <form action="/addquote" method='post'>
        {% csrf_token %}
        <label for="quote">Quoted By:</label>
        <input type="text" name="name">
        <br>
        <br>
        <label for="message">Message:</label>
        <br>
        <textarea name="content" cols="30" rows="10"></textarea>
        <br>
        <br>
        <input type="submit" value="Submit">

        {% if messages %}
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    </form>
</body>
</html>